<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zerowidth.launched.roam_backups</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>/usr/local/bin/python3 /Users/vkryukov/roam_backup.py FB /Users/vkryukov/Google\ Drive\ File\ Stream/My\ Drive/Roam\ Backup</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/vkryukov/launchd.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/vkryukov/launchd.stderr.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/vkryukov</string>
</dict>
</plist>
